page-about {
    ion-title{
        text-align: center;
        //position: absolute;
    }

    .toolbar-background {
        background-image: url(../../assets/imgs/FundoAplicativoIago.png);
       
      }
    
    .fundis{
        background-image: url(../../assets/imgs/FundoAplicativoIago.png);
        background-color: #0c48b4;
        color: black;
    }

}
