page-documentation {
    .fundis{
        background-image: url(../../assets/imgs/screenDocumentation.png);
        background-color: #0c48b4;
        background-size: cover;
        color: black;
    }

    .toolbar-background {
        background-image: url(../../assets/imgs/FundoVermelho.png);
        color: black;
      }

      #Pai{
          display: flexbox;
          color: black;
          background-color: greenyellow;
      }
}
