page-contact {
    ion-title{
        text-align: center;
        //position: absolute;
    }

    .toolbar-background {
        background-image: url(../../assets/imgs/fundoAplicativo.png);
        color: black;
      }
    
    .fundis{
        background-image: url(../../assets/imgs/screenContact.png);
        background-color: #0c48b4;
        background-size: cover;
        color: black;
        position: absolute;
    }
    .lista{
        height: 195%;
        color: black;
        margin-bottom: 150px;
    }

    .item{
        background-image: linear-gradient(to bottom right, rgb(28, 157, 231), #0c48b4);
        opacity: 0.73;
    }

    .paiDiv{
        stop-opacity: initial;
        display: flex;
    }

    .dados{
        margin: 10px;
        align-items: center;
        stop-opacity: unset;
    }

    .title{
        color: black;
        font-size: 19px;
        font-weight: bold;
    }

}
