page-contact {
    ion-title{
        text-align: center;
        //position: absolute;
    }

    .toolbar-background {
        background-image: url(../../assets/imgs/FundoAplicativoIago.png);
        background-repeat: no-repeat;
      }
    
    .fundis{
        background-image: url(../../assets/imgs/FundoAplicativoIago.png);
        background-repeat: no-repeat;
        color: black;
    }

    .item{
        background-color: #4682B4;
        color: black;
    }
}
