page-history {
    .fundis{
        background-image: url(../../assets/imgs/edited/screenHistory.png);
        background-color: #0c48b4;
        background-size: cover;
        color: black;
    }

    p{
        color: black;
    }
}
