page-curiosities {
    .fundis{
        background-image: url(../../assets/imgs/screenCuriosities.png);
        background-color: #0c48b4;
        background-size: cover;
        color: black;
    }
}
